@media (min-width: 1000px) {
    #project {
        &-a {
            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                img {
                    width: 450px;
                    height: 300px;
                    &:hover {
                        width: 460px;
                        height: 310px;
                    }
                }
            }
        }
    }
}
@media (max-width: 800px) {
    img{
        width: 100% !important;
        height: 70% !important;
    }
    #showcase {
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .logo {
                font-size: 1.5rem;
            }
        }
    }

    #home {
        &-a {
            .process-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
        &-b {
            .features-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    #project {
        padding: 0 0 3rem 0;
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.7rem 0;
            ul {
                padding: 0.7rem 0;
            }
        }
        &-a {
            .items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                .item{
                    p{
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #about {
        padding: 0 0 3rem 0;
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.7rem 0;
            ul {
                padding: 0.7rem 0;
            }
        }
        &-a {
            .about-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                img{
                    height: 100%!important;
                }
                div:last-child {
                    padding: 2rem;
                }
            }
        }
        &-c {
            .grid-plan {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                div ul {
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0;
                }
            }
        }
    }
    #blog {
        padding: 0 0 3rem 0;
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.7rem 0;
            ul {
                padding: 0.7rem 0;
            }
        }
        &-a{
            img{
                height: 100%!important;
            }
        }
    }
    #contact {
        padding: 0 0 3rem 0;
        #navbar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0.7rem 0;
            ul {
                padding: 0.7rem 0;
            }
        }
    }
    #main-footer {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            li {
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width: 678px) {
    #showcase {
        #navbar {
            .logo {
                font-size: 1.5rem;
            }
            a {
                font-size: 0.6rem;
                font-weight: bold;
            }
        }
        .show-content {
            h3 {
                font-size: 1.1rem;
            }
        }
    }
    #home {
        &-a {
            .p-smart-phone {
                padding: 0 1rem;
            }
        }
        &-c {
            .award-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
    #project {
        #navbar {
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            a {
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
        &-a {
            .items {
                grid-template-columns: repeat(1, 1fr);
                img {
                    width: 320px;
                    height: 200px;
                    &:hover {
                        width: 320px;
                        height: 210px;
                    }
                }
            }
        }
    }

    #about {
        #navbar {
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            a {
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
    }
    #blog {
        #navbar {
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            a {
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
        &-a {
            .blog-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 0;
            }
        }
    }
    #contact {
        #navbar {
            h3 {
                font-size: 1rem;
                text-align: center;
            }
            a {
                font-size: 0.8rem;
                font-weight: bold;
            }
        }
        &-a {
            form textarea {
                outline-color: #333;
                border: 1px solid #333;
            }
        }
    }
    #main-footer {
        ul .social-footer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// LandScape for SmartPhone
@media (max-height: 678px) {
    #showcase {
        .show-content {
            padding-top: 4rem;
        }
    }

    #home {
        &-b {
            .features-container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    #project {
        &-a {
            .items {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                img {
                    width: 550px;
                    height: 290px;
                    &:hover {
                        width: 560px;
                        height: 300px;
                    }
                }
            }
        }
    }

    #about {
        &-c {
            .grid-plan {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                text-align: center;
                div ul {
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0.8srem;
                }
            }
        }
    }
}
