@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.text-center {
  text-align: center; }

.btn {
  border: none;
  display: inline-block;
  padding: 0.5rem 2rem; }
  .btn-light {
    border: 1px solid #fff;
    color: #fff;
    transition: all 0.4s ease-in; }
    .btn-light:hover {
      border: none;
      background-color: #fff;
      color: #333;
      font-weight: bold; }
  .btn-dark {
    border: 1px solid #333;
    color: #fff;
    background-color: #333;
    transition: all 0.4s ease-in; }
    .btn-dark:hover {
      opacity: 0.8; }

.py-1 {
  padding: 1rem 0; }
.py-2 {
  padding: 2rem 0; }
.py-3 {
  padding: 3rem 0; }
.py-4 {
  padding: 4rem 0; }

.my-1 {
  margin: 1rem 0; }
.my-2 {
  margin: 2rem 0; }
.my-3 {
  margin: 3rem 0; }
.my-4 {
  margin: 4rem 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

img {
  width: 100%;
  height: 100%; }

body {
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
  font-size: 1rem; }

.text-primary {
  color: #ffc61a; }

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1100px;
  overflow: hidden; }

#showcase {
  background: url("../photos/pexels-aleksandar-pasaric-1758672-darker.jpg") no-repeat center center/cover;
  height: 100vh; }
  #showcase #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%; }
    #showcase #navbar .logo {
      font-family: "Monoton", cursive;
      color: #fff;
      font-size: 2rem; }
    #showcase #navbar ul {
      display: flex; }
    #showcase #navbar li {
      padding-left: 1.5rem; }
    #showcase #navbar a {
      color: #333;
      font-weight: bold; }
      #showcase #navbar a:hover {
        color: #fff; }
  #showcase .show-content {
    text-align: center;
    padding-top: 11rem; }
    #showcase .show-content h3 {
      font-size: 2rem;
      color: #fff;
      margin: 1.5rem 0; }

#home-a {
  color: #333; }
  #home-a .process-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #home-a .process-container div {
      padding: 2rem 2rem;
      border: 2px solid #333;
      margin: 3rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease-in; }
      #home-a .process-container div:hover {
        transform: translate(-4px, -4px);
        box-shadow: 1px 1px 8px -1px #333;
        border-radius: 0; }
      #home-a .process-container div hr {
        width: 160px; }
#home-b .features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }
  #home-b .features-container div {
    background: #ddd;
    padding: 5rem; }
    #home-b .features-container div:nth-child(even) {
      background: #f6f6f6; }
#home-c .award-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem; }
#home-c div {
  padding: 0 2rem 1.5rem 2rem; }
#home-c h1 {
  padding-bottom: 2rem; }
#home-c i {
  color: #ffc61a; }
#home-d {
  color: #333; }
  #home-d .word-content {
    background-color: #ffc61a;
    padding: 5rem 0;
    margin-top: 2rem; }

#project {
  padding: 0 0 3rem 0; }
  #project #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 0.5rem; }
    #project #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 2rem;
      color: #fff; }
    #project #navbar ul {
      display: flex; }
    #project #navbar li {
      padding-left: 1.5rem; }
    #project #navbar a {
      color: #fff;
      font-weight: bold; }
      #project #navbar a:hover {
        color: #ffc61a; }
  #project-a .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0 2rem 0;
    grid-gap: 0.5rem; }
    #project-a .items .text-title {
      font-size: 1.2rem;
      display: none;
      transition: all 0.2s ease-in; }
    #project-a .items img {
      width: 100%;
      height: 100%;
      transition: all 0.2s ease; }
      #project-a .items img:hover {
        opacity: 0.7;
        width: 100%;
        height: 100%; }
    #project-a .items .item:hover .text-title {
      display: block; }

#about {
  padding: 0 0 3rem 0; }
  #about #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 0.5rem; }
    #about #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 2rem;
      color: #fff; }
    #about #navbar ul {
      display: flex; }
    #about #navbar li {
      padding-left: 1.5rem; }
    #about #navbar a {
      color: #fff;
      font-weight: bold; }
      #about #navbar a:hover {
        color: #ffc61a; }
  #about-a .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0; }
    #about-a .about-container div:last-child {
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 0 2rem; }
  #about-c .grid-plan {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #about-c .grid-plan div ul {
      display: flex; }
      #about-c .grid-plan div ul li {
        padding-left: 0.7rem; }
    #about-c .grid-plan img {
      width: 300px;
      height: 200px;
      border-radius: 5px; }

#blog {
  padding: 0 0 3rem 0; }
  #blog #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 0.5rem; }
    #blog #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 2rem;
      color: #fff; }
    #blog #navbar ul {
      display: flex; }
    #blog #navbar li {
      padding-left: 1.5rem; }
    #blog #navbar a {
      color: #fff;
      font-weight: bold; }
      #blog #navbar a:hover {
        color: #ffc61a; }
  #blog-a .blog-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem 0; }
    #blog-a .blog-grid .post-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 1rem 4rem;
      background-color: #f6f6f6; }
      #blog-a .blog-grid .post-info a {
        margin: 1rem 0; }

#contact {
  padding: 0 0 3rem 0; }
  #contact #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    width: 100%;
    padding: 0.5rem; }
    #contact #navbar h3 {
      font-family: "Monoton", cursive;
      font-size: 2rem;
      color: #fff; }
    #contact #navbar ul {
      display: flex; }
    #contact #navbar li {
      padding-left: 1.5rem; }
    #contact #navbar a {
      color: #fff;
      font-weight: bold; }
      #contact #navbar a:hover {
        color: #ffc61a; }
  #contact-a .form-group {
    margin: 0.5rem 0; }
  #contact-a a {
    margin-bottom: 1rem; }
  #contact-a .form-group label {
    display: block; }
  #contact-a .form-group input {
    display: block;
    width: 100%;
    padding: 0.3rem;
    border: 1px solid #333;
    border-radius: 5px;
    outline-color: #333; }
  #contact-a .form-group textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 1rem; }

#main-footer {
  background-color: #333;
  padding: 2rem; }
  #main-footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    color: #fff; }
  #main-footer i {
    padding: 1.2rem 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 0.7rem;
    transition: all 0.3s ease-in; }
    #main-footer i:hover {
      color: #ffc61a;
      border-color: #ffc61a; }

/*# sourceMappingURL=style.css.map */
